<app-page-toolbar title="Novo dentista">
  <button mat-stroked-button class="primary-background"  *ngIf="!isLoading" (click)="createSecretary()">Adicionar</button>
  <mat-spinner *ngIf="isLoading" [diameter]="25"></mat-spinner>
</app-page-toolbar>

<mat-card>
  <mat-card-content>
    <form style="width:100%;" [formGroup]="userForm">
      <h3>Informacoes para cadastro do usuario</h3>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Usuario para login</mat-label>
        <input formControlName="username" matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email"  matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input formControlName="password"  matInput>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
