
<form [formGroup]="infoForm">
    <mat-form-field  appearance="fill">
      <mat-label>Nome</mat-label>
      <input formControlName="name" matInput />
    </mat-form-field>
    <mat-form-field  appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>

    <br />

    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Data de nascimento" [formControl]="infoForm.get('birthDate')">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker
        [enableMeridian]="false" >
      </ngx-mat-datetime-picker>
   </mat-form-field>

    <mat-form-field  appearance="fill">
      <mat-label>Telefone</mat-label>
      <input formControlName="phone" matInput />
    </mat-form-field>

    <br />

    <mat-form-field  appearance="fill">
      <mat-label>Profissao</mat-label>
      <input formControlName="profession" matInput />
    </mat-form-field>


    <mat-form-field  appearance="fill">
      <mat-label>Estado Civil</mat-label>
      <mat-select formControlName="civilState">
        <mat-option value="Casado">Casado</mat-option>
        <mat-option value="Solteiro">Solteiro</mat-option>
        <mat-option value="Viúvo">Viúvo</mat-option>
        <mat-option value="Divorciado">Divorciado</mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <mat-form-field  appearance="fill">
      <mat-label>CPF</mat-label>
      <input formControlName="cpf" matInput />
    </mat-form-field>
    <mat-form-field  appearance="fill">
      <mat-label>RG</mat-label>
      <input formControlName="rg" matInput />
    </mat-form-field>



    <br />

    <mat-form-field appearance="fill">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="Feminino">Feminino</mat-option>
        <mat-option value="Masculino">Masculino</mat-option>
        <mat-option value="Outro">Outro</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  appearance="fill">
      <mat-label>Como Chegou à Clinica</mat-label>
      <mat-select formControlName="howArrived">
        <mat-option value="Facebook">Facebook</mat-option>
        <mat-option value="Instagram">Instagram</mat-option>
        <mat-option value="Radio">Radio</mat-option>
        <mat-option value="Indicação">Indicação</mat-option>
        <mat-option value="na">Nenhuma das alternativas</mat-option>
      </mat-select>
    </mat-form-field>

    
  <div>
    <button mat-button matStepperNext>Proximo</button>
  </div>
</form>

