<mat-nav-list>
  <mat-list-item routerLink="{{routes.DASHBOARD_SECRETARY}}">
    <span class="full-width">
      Dashboard Secretaria
    </span>
    <mat-icon mat-list-icon>dashboard</mat-icon>
  </mat-list-item>
</mat-nav-list>

<mat-accordion>
  <mat-expansion-panel class="no-box-shadow">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-list-icon>calendar_month</mat-icon>
        Agendamentos
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <mat-list-item routerLink="{{routes.SCHEDULE_EVALUATIONS_SECRETARY}}">
        <span class="full-width">
          Avaliações
        </span>
        <mat-icon mat-list-icon>navigate_next</mat-icon>
      </mat-list-item>

      <mat-list-item routerLink="{{routes.SCHEDULE_PROCEDURES_SECRETARY}}">
        <span class="full-width">
          Procedimentos
        </span>
        <mat-icon mat-list-icon>navigate_next</mat-icon>
      </mat-list-item>

      <mat-list-item routerLink="{{routes.SCHEDULE_HISTORY_SECRETARY}}">
        <span class="full-width">
          Histórico
        </span>
        <mat-icon mat-list-icon>navigate_next</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>

</mat-accordion>

<mat-nav-list>
  <mat-list-item routerLink="{{routes.PATIENTS_SECRETARY}}">
    <span class="full-width">
      Pacientes
    </span>
    <mat-icon mat-list-icon>groups</mat-icon>
  </mat-list-item>

  <mat-list-item routerLink="{{routes.FINANCES_SECRETARY}}">
    <span class="full-width">
      Financeiro
    </span>
    <mat-icon mat-list-icon>monetization_on</mat-icon>
  </mat-list-item>
</mat-nav-list>
