<mat-form-field appearance="fill">
    <mat-label>Selecione o periodo</mat-label>
    <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Data Inicio">
        <input matEndDate placeholder="Data Fim">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<div class="container">





    <canvas id="total-sales-chart">

    </canvas>
</div>