<app-page-toolbar title="Secretarias">
  <button mat-stroked-button class="primary-background" routerLink="{{routes.SECRETARIES_NEW_SECRETARY_ADM}}">Nova Secretaria</button>
</app-page-toolbar>

<div class="view-container">
  <mat-card>
    <mat-card-content>

      -Listar secretarias (falta metodo)
      <!--
      <mat-list>
        <mat-list-item (click)="navigateToDentist(dentist.id)"*ngFor="let dentist of dentists">
          <div>
            {{dentist?.name}}
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      -->
    </mat-card-content>
  </mat-card>
<!--
<div class="loading-container" *ngIf="!dentists">
    <mat-spinner [diameter]="25"></mat-spinner>
</div>
-->
</div>

