<mat-card>
  <mat-card-content>
    <app-action-buttons-container>

    </app-action-buttons-container>

    <mat-selection-list [multiple]="false">
      <mat-list-option (click)="navigateToTreatment(treatment?.id)" *ngFor="let treatment of treatments">
        <div style="display: flex; width: 100%">
          <p>Tratamento de {{treatment?.treatmentType}} {{treatment.id}}</p>
          <span class="toolbar-spacer"></span>
          <p>{{treatment?.status}}</p>
        </div>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
