<mat-card>
  <mat-card-content>
    <app-action-buttons-container>

    </app-action-buttons-container>

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tratamentos em negociacao
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list role="list">
          <mat-list-item *ngFor="let treatment of treatmentsInNegotiation"role="listitem">
            <div style="display: flex; width: 100%; padding-top: 10px; padding-bottom: 10px;">
              <p>Tratamento {{treatment?.treatmentType}} {{treatment?.id}}</p>
              <span class="toolbar-spacer"></span>
              <div style="display: flex;">
                <button mat-raised-button style="margin: auto;"  class="primary-background" (click)="navigateToTreatmentNegotiation(treatment.id)">Negociar</button>
              </div>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tratamentos
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list-item *ngFor="let treatment of treatmentsHistory"role="listitem">
          <div style="display: flex; width: 100%;">
            <p>Tratamento {{treatment?.treatmentType}} {{treatment?.id}} - {{treatment.status}}</p>
            <span class="toolbar-spacer"></span>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
</mat-card>
