<form [formGroup]="addressForm">
  <mat-form-field  appearance="fill">
    <mat-label>Cidade</mat-label>
    <input formControlName="city" matInput />
  </mat-form-field>
  <mat-form-field  appearance="fill">
    <mat-label>Estado</mat-label>
    <input formControlName="state" matInput />
  </mat-form-field>

  <br />

  <mat-form-field  appearance="fill">
    <mat-label>CEP</mat-label>
    <input formControlName="zipCode" matInput />
  </mat-form-field>
  <mat-form-field  appearance="fill">
    <mat-label>Bairro</mat-label>
    <input formControlName="district" matInput />
  </mat-form-field>

  <br />

  <mat-form-field  appearance="fill">
    <mat-label>Rua</mat-label>
    <input formControlName="street" matInput />
  </mat-form-field>
  <mat-form-field  appearance="fill">
    <mat-label>Numero</mat-label>
    <input formControlName="number" matInput />
  </mat-form-field>

  <br />

  <mat-form-field  appearance="fill">
    <mat-label>Complemento</mat-label>
    <input formControlName="complement" matInput />
  </mat-form-field>

  <div>
    <button mat-button matStepperNext>Proximo</button>
  </div>
</form>
