<mat-toolbar class="toolbar-view-container">
  <h1 class="app-name">{{patient?.name}}</h1>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<div class="view-container">
  <mat-tab-group >
    <mat-tab label="Informações pessoais">
      <app-info-tab></app-info-tab>
    </mat-tab>

    <mat-tab label="Tratamentos">
      <app-treatments-tab></app-treatments-tab>
    </mat-tab>

    <mat-tab label="Financeiro">
      <app-financial-tab></app-financial-tab>
    </mat-tab>
  </mat-tab-group>
</div>


