/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.view-container {
  padding: 0 16px;
  padding-bottom: 10px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.primary-background {
  background: #328fc4 !important;
  color: white !important;
}

.outlined-button {
  border: 2px solid #328fc4 !important;
  background-color: white;
  color: #328fc4;
}

.danger-background {
  background: #bb2124 !important;
  color: white !important;
}

.warning-background {
  background: #ffc107 !important;
  color: black !important;
}

.success-background {
  background: #198754 !important;
  color: white !important;
}

.blue-snackbar {
  background-color: #328fc4 !important;
  color: white !important;
}

.blue-snackbar button {
  background-color: rgb(255, 255, 255);
  color: rgb(5, 0, 0);
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.box-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-drawer-content {
  background: white !important;
}

.mat-toolbar {
  background: white !important;
  border-bottom: solid 1px rgba(0,0,0,.12);
}
