<app-page-toolbar title="Financeiro">
  <button mat-stroked-button class="primary-background" [matMenuTriggerFor]="menu">
    +
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openIncomeDialog()">Entrada</button>
    <button mat-menu-item (click)="openExpenseDialog()">Saida</button>
  </mat-menu>
</app-page-toolbar>

<div class="view-container">
  <mat-card style="margin-top: 20px">
    <mat-card-title> Visão geral </mat-card-title>

    <mat-card-content>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Selecione um periodo</mat-label>
          <mat-select>
            <mat-option value="option1">Mes atual</mat-option>
            <mat-option value="option2">Ultimo mes</mat-option>
            <mat-option value="option3">Ultimos 3 meses</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-evenly;
          text-align: center;
        ">
        <div style="flex: 1">
          <b>ENTRADAS: </b> <span style="color: green">R$ 7800,00</span>
        </div>

        <div style="flex: 1">
          <b>SAIDAS: </b> <span style="color: red">R$ 6800,00</span>
        </div>

        <div style="flex: 1"><b>Saldo: </b> <span>R$ 1000,00</span></div>

        <div style="flex: 1">
          <b>PENDENTE: </b> <span style="color: orange">R$ 3900,00</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 20px">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Geral">
          <mat-list>
            <div *ngFor="let item of all">
              <app-income-item *ngIf="item.type == 'income'" [income]="item"></app-income-item>
              <app-expense-item *ngIf="item.type == 'expense'" [expense]="item"></app-expense-item>
            </div>
          </mat-list>
        </mat-tab>

        <mat-tab label="Entradas">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="incomes">

              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element"> {{element.value | currency:'BRL'}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="paymentMethod">
                <th mat-header-cell *matHeaderCellDef> Método de Pagamento </th>
                <td mat-cell *matCellDef="let element"> {{element.paymentMethod}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="paymentDate">
                <th mat-header-cell *matHeaderCellDef> Data de Pagamento </th>
                <td mat-cell *matCellDef="let element"> {{element.paymentDate}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="incomeDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: incomeDisplayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </mat-tab>

        <mat-tab label="Saidas">
          <mat-list>
            <div *ngFor="let expense of expenses">
              <app-expense-item [expense]="expense"></app-expense-item>
            </div>
          </mat-list>
        </mat-tab>

        <mat-tab label="Pendencias">

        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

  <!--
  <div class="loading-container">
      <mat-spinner [diameter]="25"></mat-spinner>
  </div>
-->
  <div class="patients-list-container"></div>
</div>