<app-page-toolbar title="Cadastro de procedimentos">
  <button mat-stroked-button class="primary-background" routerLink="{{routes.MANUAL_REGISTERS_PROCEDURES_NEW_PROCEDURE_ADM}}">Novo Procedimento</button>

</app-page-toolbar>

<div class="view-container">
  <mat-card *ngIf="procedures">
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let procedure of procedures">
          <div>
            {{procedure?.name}}
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

<div class="loading-container" *ngIf="!procedures">
    <mat-spinner [diameter]="25"></mat-spinner>
</div>
</div>


