<app-page-toolbar [title]="treatmentTitle">
</app-page-toolbar>

<div class="loading-container" *ngIf="!treatment">
  <mat-spinner [diameter]="25"></mat-spinner>
</div>

<div class="view-container" *ngIf="treatment">
  <mat-tab-group>
    <mat-tab label="Informações">
      <app-info-treatment-tab [treatment]="treatment"></app-info-treatment-tab>
    </mat-tab>

    <mat-tab label="Procedimentos">
      <app-procedures-treatment-tab [treatment]="treatment" [updateTreatment]="boundedGetTreatment"></app-procedures-treatment-tab>
    </mat-tab>
  </mat-tab-group>
</div>
