<mat-nav-list>
  <mat-list-item routerLink="{{routes.DASHBOARD_ADM}}">
    <span class="full-width">
      Dashboard Administrador
    </span>
    <mat-icon mat-list-icon>dashboard</mat-icon>
  </mat-list-item>
</mat-nav-list>

<mat-accordion>
  <mat-expansion-panel class="no-box-shadow">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-list-icon>calendar_month</mat-icon>
        Cadastros
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <mat-list-item routerLink="{{routes.MANUAL_REGISTERS_PROCEDURES_ADM}}">
        <span class="full-width">
          Procedimentos
        </span>
        <mat-icon mat-list-icon>navigate_next</mat-icon>
      </mat-list-item>

      <mat-list-item routerLink="{{routes.MANUAL_REGISTERS_PROTHESIS_ADM}}">
        <span class="full-width">
          Proteses
        </span>
        <mat-icon mat-list-icon>navigate_next</mat-icon>
      </mat-list-item>

      <mat-list-item routerLink="{{routes.MANUAL_REGISTERS_TREATMENT_PLANS_ADM}}">
        <span class="full-width">
          Planos de tratamento
        </span>
        <mat-icon mat-list-icon>navigate_next</mat-icon>
      </mat-list-item>

      <mat-list-item routerLink="{{routes.MANUAL_REGISTERS_DENTAL_APPLIANCES_ADM}}">
        <span class="full-width">
          Aparelhos ortodônticos
        </span>
        <mat-icon mat-list-icon>navigate_next</mat-icon>
      </mat-list-item>


    </mat-nav-list>
  </mat-expansion-panel>

</mat-accordion>

<mat-nav-list>
  <mat-list-item routerLink="{{routes.DENTISTS_ADM}}">
    <span class="full-width">
      Dentistas
    </span>
    <mat-icon mat-list-icon>medication</mat-icon>
  </mat-list-item>

  <mat-list-item routerLink="{{routes.SECRETARIES_ADM}}">
    <span class="full-width">
      Secretarias
    </span>
    <mat-icon mat-list-icon>support_agent</mat-icon>
  </mat-list-item>
</mat-nav-list>
