<mat-toolbar  class="toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="toolbar-logo" src="../../../../assets/logo_branca.png" alt="">
  <span class="toolbar-spacer"></span>
  <app-user></app-user>
</mat-toolbar>

<mat-sidenav-container class="container" autosize>
  <mat-sidenav
    #sidenav
    class="sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
    <app-nav-list-secretary *ngIf="userRole == 'secretary'"></app-nav-list-secretary>
    <app-nav-list-dentist *ngIf="userRole == 'dentist'"></app-nav-list-dentist>
    <app-nav-list-admin *ngIf="userRole == 'admin'"></app-nav-list-admin>
  </mat-sidenav>

  <div class="sidenav-content">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license
  -->
