

<h2 mat-dialog-title>Nova saida de caixa</h2>
<mat-dialog-content>
  <form [formGroup]="expenseForm">
    <mat-form-field>
      <mat-label>Valor em R$</mat-label>
      <input matInput type="number" step="0.01" formControlName="value">
    </mat-form-field>

    <br>

    <mat-form-field *ngIf="expenseGroups" appearance="fill">
      <mat-label>Tipo de saida</mat-label>
      <mat-select formControlName="expenseGroupId">
        <mat-option
        *ngFor="let expenseGroup of expenseGroups" [value]="expenseGroup.id">
          {{expenseGroup.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Informacoes adicionais"></textarea>
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close >Cancelar</button>
  <button
    *ngIf="!isLoading"
    mat-raised-button
    (click)="createExpense()"
    >
    Adicionar
  </button>
  <mat-spinner *ngIf="isLoading" [diameter]="25"></mat-spinner>

</mat-dialog-actions>
